.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log
config/config.product.js

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

public/admin.html
public/favicon.ico
public/static
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local



package-lock.json
yarn.lock
