<footer>
    <div class="footer-top">
        <div class="footer-nav">
            <div class="footer-nav-item">
                <h3> 高端网站设计</h3>
                <ul>
                    <li>上市企业网站定制</li>
                    <li>外贸行业网站设计</li>
                    <li>营销型网站设计</li>
                    <li>集团公司网站设计</li>
                    <li>集团公司网站设计</li>
                    <li>高端网站定制设计</li>
                    <li>响应式网站设计</li>
                </ul>
            </div>
            <div class="footer-nav-item">
                <h3> 企业官网设计</h3>
                <ul>
                    <li>上市企业网站定制</li>
                    <li>外贸行业网站设计</li>
                    <li>营销型网站设计</li>
                    <li>集团公司网站设计</li>
                    <li>集团公司网站设计</li>
                    <li>高端网站定制设计</li>
                    <li>响应式网站设计</li>
                </ul>
            </div>
            <div class="footer-nav-item">
                <h3> 电商网页设计</h3>
                <ul>
                    <li>上市企业网站定制</li>
                    <li>外贸行业网站设计</li>
                    <li>营销型网站设计</li>
                    <li>集团公司网站设计</li>
                    <li>集团公司网站设计</li>
                    <li>高端网站定制设计</li>
                    <li>响应式网站设计</li>
                </ul>
            </div>
            <div class="footer-nav-item">
                <h3> Redesign</h3>
                <ul>
                    <li>联系我们</li>
                    <li><a href="/join-us">加入我们</a></li>
                    <li><a href="/news">新闻动态</a></li>
                </ul>
            </div>
        </div>
        <img src="uploads/footer-code.jpg" class="footer-code" alt="code">
    </div>
    <div class="footer-bottom">
        <div class="footer-left">
            <img src="uploads/footer-logo.svg" alt="redesign">
            <span>红设设计</span>
        </div>
        <p>Copyright © 2018 逐鹿科技有限公司版权所有 抄袭必究 </p>
    </div>
</footer>