<header>
    <div class="navigation">


        <nav class="top-nav">
            <a href="/" aria-current="page" class="home-link w-inline-block w--current" style="filter: invert(0%);">
                <img src="uploads/logo.svg" alt="">

            </a>
            <div class="nav-links" data-w-id="19c480a0-604e-3f8f-e3de-6cfe08ea6a3c"
                style="filter: invert(0%); transform: translate3d(0px, 0em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                <a href="/" class="btn-click magnetic p-button top_nav-link w--current " data-strength="20"
                    data-strength-text="10" style="transform: rotate(0.001deg);">
                    <span class="btn-text">
                        <span class="btn-text-inner">首页</span>
                    </span>
                </a>
                <a href="/service.html" class="btn-click magnetic p-button top_nav-link " data-strength="20"
                    data-strength-text="10" style="transform: rotate(0.001deg);">
                    <span class="btn-text">
                        <span class="btn-text-inner">服务项目</span>
                    </span>
                </a>
                <a href="/cases.html" class="btn-click magnetic p-button top_nav-link " data-strength="20"
                    data-strength-text="10" style="transform: rotate(0.001deg);">
                    <span class="btn-text">
                        <span class="btn-text-inner">专案作品</span>
                    </span>
                </a>
                <a href="/about.html" class="btn-click magnetic p-button top_nav-link " data-strength="20"
                    data-strength-text="10" style="transform: rotate(0.001deg);">
                    <span class="btn-text">
                        <span class="btn-text-inner">关于极简</span>
                    </span>
                </a>
                <a href="/science.html" class="btn-click magnetic p-button top_nav-link " data-strength="20"
                    data-strength-text="10" style="transform: rotate(0.001deg);">
                    <span class="btn-text">
                        <span class="btn-text-inner">科学方法论</span>
                    </span>
                </a>
                <a href="/pithyecology.html" class="btn-click magnetic p-button top_nav-link " data-strength="20"
                    data-strength-text="10" style="transform: rotate(0.001deg);">
                    <span class="btn-text">
                        <span class="btn-text-inner">极简生态</span>
                    </span>
                </a>
                <a href="/en" class="btn-click magnetic p-button top_nav-link " data-strength="20"
                    data-strength-text="10">
                    <span class="btn-text" style="padding: 0;color: #000;">
                        <span class="btn-text-inner">CN-EN</span>
                    </span>
                </a>
                <a href="/contact.html" class="btn-click get-scheme magnetic" data-strength="25"
                    data-strength-text="15">
                    <div class="btn-fill"></div>
                    <span class="btn-text">
                        <span class="btn-text-inner change3">获取方案</span>
                    </span>
                </a>
            </div>
            <div class="hamburger-menu" style="filter: invert(0%);">
                <div class="menu-icon" id="top_menu">
                    <span></span>
                    <p>Menu</p>
                </div>
            </div>

        </nav>
        <nav class="mobile-nav">
            <div class="container is-mobile-nav"><a href="/careers" class="big_link">Careers</a><a href="/our-story"
                    class="big_link">Our story</a><a href="https://satoshilabs.webflow.io/#our-companies"
                    class="big_link">Our
                    companies</a><a href="/manifesto" class="big_link">Manifesto</a><a href="/newsroom"
                    class="big_link">Newsroom</a><a href="/reach-out" class="big_link">Reach out</a>
            </div>
        </nav>
        <div data-w-id="7116ace3-d94f-675b-8535-f2c9c1e61c6d" class="page-transition">
            <div class="page-transition_background"></div>
        </div>
    </div>
</header>