<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cases.css">
    <title>Document</title>
</head>

<body>
    <svg display="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <symbol id="designIcon" fill="none">
            <path
                d="M636.877 2.24121H688.693L737.382 113.39H738.722V2.24121H772V157.759H725.321L671.719 39.4401H670.379V157.759H636.877V2.24121Z"
                fill="#E6E6E6" />
            <path
                d="M554.16 160C542.249 160 531.528 158.88 521.999 156.639C512.618 154.398 504.652 150.364 498.101 144.538C491.55 138.562 486.487 130.42 482.914 120.112C479.489 109.655 477.777 96.2839 477.777 80C477.777 65.0607 479.564 52.5117 483.137 42.3529C486.711 32.0448 491.847 23.7535 498.548 17.479C505.248 11.2045 513.363 6.72269 522.892 4.03362C532.421 1.34454 543.216 0 555.277 0C558.999 0 562.796 0.149401 566.667 0.448193C570.688 0.746975 574.484 1.12045 578.058 1.56864C581.78 2.01682 585.279 2.6144 588.555 3.36136C591.831 3.95892 594.66 4.70588 597.042 5.60225V35.4062C591.235 33.3147 584.907 31.746 578.058 30.7003C571.358 29.6545 564.657 29.1317 557.957 29.1317C550.512 29.1317 544.035 29.9533 538.526 31.5966C533.166 33.0906 528.699 35.8543 525.126 39.888C521.701 43.7722 519.095 49.0009 517.309 55.5742C515.671 61.9981 514.852 70.1401 514.852 80C514.852 90.3081 515.596 98.8235 517.085 105.546C518.574 112.12 520.957 117.348 524.232 121.233C527.508 124.967 531.751 127.582 536.963 129.076C542.323 130.57 548.8 131.317 556.394 131.317C559.521 131.317 562.424 131.242 565.104 131.092C567.784 130.943 570.39 130.57 572.921 129.972V96.3585H546.567V67.8992H604.412V153.053C598.606 154.995 591.161 156.639 582.078 157.983C573.144 159.328 563.838 160 554.16 160Z"
                fill="#E6E6E6" />
            <path d="M413.752 2.24121H447.7V157.759H413.752V2.24121Z" fill="#E6E6E6" />
            <path
                d="M324.834 160C315.751 160 307.116 159.402 298.926 158.207C290.886 157.012 284.483 155.742 279.719 154.398V124.594C282.101 125.49 285.005 126.312 288.429 127.059C291.854 127.806 295.502 128.478 299.373 129.076C303.244 129.524 307.19 129.972 311.21 130.42C315.379 130.719 319.474 130.868 323.494 130.868C328.556 130.868 332.8 130.57 336.225 129.972C339.798 129.374 342.627 128.329 344.712 126.835C346.945 125.341 348.508 123.399 349.402 121.008C350.295 118.618 350.742 115.705 350.742 112.269C350.742 109.281 350.37 106.741 349.625 104.65C348.881 102.558 347.466 100.691 345.382 99.0476C343.446 97.4043 340.617 95.9104 336.895 94.5658C333.321 93.2213 328.556 91.8021 322.601 90.3081C314.263 88.366 307.339 86.2745 301.83 84.0336C296.469 81.6433 292.152 78.8049 288.876 75.5182C285.6 72.0822 283.292 67.9739 281.952 63.1933C280.612 58.4127 279.942 52.5117 279.942 45.4902C279.942 29.057 284.856 17.4043 294.683 10.5322C304.659 3.51074 318.655 0 336.671 0C345.456 0 353.199 0.597577 359.899 1.79272C366.748 2.83848 372.257 4.10832 376.426 5.60225V33.6134C374.491 33.0159 372.034 32.4183 369.056 31.8207C366.078 31.0738 362.802 30.4015 359.229 29.8039C355.655 29.2064 352.008 28.7582 348.285 28.4594C344.712 28.1606 341.287 28.0112 338.011 28.0112C329.226 28.0112 322.824 29.1317 318.804 31.3726C314.933 33.6135 312.997 38.0206 312.997 44.5939C312.997 47.1335 313.295 49.2997 313.89 51.0924C314.486 52.8852 315.677 54.5285 317.464 56.0224C319.399 57.367 322.08 58.6368 325.504 59.8319C329.078 61.0271 333.693 62.2969 339.351 63.6415C348.583 65.8824 356.102 68.422 361.909 71.2605C367.865 73.9496 372.481 77.2362 375.756 81.1205C379.181 84.8553 381.489 89.3371 382.68 94.5658C383.871 99.6452 384.467 105.845 384.467 113.165C384.467 128.403 379.851 140.056 370.619 148.123C361.388 156.041 346.126 160 324.834 160Z"
                fill="#E6E6E6" />
            <path
                d="M257.044 128.18V157.759H159.22V2.24121H253.917V31.821H193.168V63.8659H249.45V92.3252H193.168V128.18H257.044Z"
                fill="#E6E6E6" />
            <path
                d="M53.1557 2.24121C64.4718 2.24121 74.7456 3.28696 83.9771 5.37847C93.3575 7.32057 101.323 11.1301 107.875 16.807C114.575 22.484 119.712 30.4018 123.285 40.5605C126.859 50.7193 128.646 63.8659 128.646 80.0003C128.646 95.089 126.859 107.638 123.285 117.647C119.712 127.507 114.575 135.425 107.875 141.401C101.323 147.377 93.3575 151.634 83.9771 154.174C74.7456 156.564 64.4718 157.759 53.1557 157.759H0V2.24121H53.1557ZM51.369 128.628C58.5159 128.628 64.6951 127.881 69.9064 126.387C75.2667 124.893 79.6591 122.279 83.0837 118.544C86.6572 114.809 89.2629 109.804 90.9007 103.53C92.6875 97.2552 93.5808 89.4121 93.5808 80.0003C93.5808 69.991 92.6875 61.849 90.9007 55.5745C89.114 49.1506 86.4339 44.146 82.8604 40.5605C79.4358 36.8257 75.0433 34.286 69.6831 32.9415C64.4718 31.5969 58.367 30.9247 51.369 30.9247H33.9482V128.628H51.369Z"
                fill="#E6E6E6" />
        </symbol>

        <symbol id="chooseIcon">
            <path opacity="0.4"
                d="M17 1.08683L15.9635 -4.5305e-08L8.50002 7.82638L1.03646 -6.97789e-07L-4.75068e-08 1.08683L8.49998 10L17 1.08683Z"
                fill="#272636"></path>
        </symbol>
    </svg>


    <%- include('components/header'); -%>
    <main>
        <div class="banner  wow text-down" style="animation-delay: 2.4s;">
            <div class="container flex flex-align-center">
                <div class="banner-left">
                    <h1>量身订制<span>适合您品牌</span>的网站</h1>
                    <p>通过美学设计独特的视觉元素和吸引人的外观，使品牌在众多竞争者中脱颖而出。一个让客户印象深刻和独特的网站可以快速与竞争对手区分开来。</p>
                </div>
                <svg width="772" height="160" viewBox="0 0 772 160" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#designIcon"></use>
                </svg>
            </div>
        </div>


        <div class="section1">
            <div class="chose wow text-down">
                <div class="item">
                    <div class="d1">
                        <p class="p1">类型：</p>
                        <p class="p2" data-id="0">全部</p>
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10"
                                fill="none">
                                <use xlink:href="#chooseIcon"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="d2" style="display: none;">
                        <p data-id="0">全部</p>
                        <p data-id="3">视觉策略</p>
                        <p data-id="4">商业品牌官网</p>
                        <p data-id="5">视觉设计</p>
                        <p data-id="9">摄影</p>
                        <p data-id="10">系统开发</p>
                        <p data-id="11">数字营销</p>
                    </div>
                </div>
                <div class="item">
                    <div class="d1">
                        <p class="p1">行业：</p>
                        <p class="p2" data-id="0">全部</p>
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="10" viewBox="0 0 17 10"
                                fill="none">
                                <use xlink:href="#chooseIcon"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="d2">
                        <p data-id="0">全部</p>
                        <p data-id="6">新能源</p>
                        <p data-id="7">机械制造</p>
                        <p data-id="8">金融房地产</p>
                        <p data-id="12">教育咨询</p>
                    </div>
                </div>
            </div>
        </div>

        <section class="section section2 case">
            <div class="cases container">
                <a href="/caseInfo/9.html" class="wow text-down hover-rotate-container">
                    <div class="pic company-card w-inline-block hover-rotate-inner">
                        <img src="uploads/case-img.jpg" alt="">
                    </div>
                    <div class="text">
                        <p class="p1">华为</p>
                        <div class="des">
                            极简慕枫与华为携手合作，共同打造了一个引领科技潮流的品牌官网。这个官网不仅汇聚了华为最前沿的技术资讯和创新产品，更通过极简慕枫的专业网站设计，为用户带来流畅、直观、极致的浏览体验。在这里，用户能够深入了解华为的科技创新实力，感受其智慧生活的魅力。同时，这个官网也成为了华为品牌展示、产品推广、互动交流的重要平台，为华为与用户之间建立了更加紧密的联系。
                        </div>
                        <div class="tag">
                            <p>集团官网建设</p>
                            <p>视觉设计</p>
                        </div>
                    </div>
                </a>
                <a href="/caseInfo/12.html" class="wow text-down hover-rotate-container">
                    <div class="pic company-card w-inline-block hover-rotate-inner">
                        <img src="uploads/case-img.jpg" alt="">
                    </div>
                    <div class="text">
                        <p class="p1">迪卡侬Perfly独立站</p>
                        <div class="des">
                            极简慕枫与全球知名体育用品零售巨头迪卡侬（Perfly）达成战略合作，共同打造了一个集运动、时尚与科技于一体的全新线上购物平台。这一平台不仅展现了迪卡侬在运动装备领域的专业与多元，更通过极简慕枫的精湛技艺，为用户带来了一种直观、流畅且极富吸引力的购物体验。同时，这个线上平台还注重用户体验，通过极简的设计风格、直观的导航以及高效的购物流程，确保用户能够享受到便捷、舒适的购物体验。这一合作不仅提升了迪卡侬品牌的在线影响力，也为运动爱好者提供了一个集购物、学习与交流于一体的综合性平台。
                        </div>
                        <div class="tag">
                            <p>品牌独立站建设</p>
                            <p>视觉设计</p>
                        </div>
                    </div>
                </a>
                <a href="/caseInfo/15.html" class="wow text-down hover-rotate-container">
                    <div class="pic company-card w-inline-block hover-rotate-inner">
                        <img src="/uploads/case-img.jpg" alt="">
                    </div>
                    <div class="text">
                        <p class="p1">极简慕枫品牌官网——2.0</p>
                        <div class="des">
                            极简慕枫，专注于品牌视觉生态设计，秉承“极简”品牌理念，探索极简策略、极简视觉、极简传达的品牌视觉生态营销模式，研究品牌官网到品牌全案视觉生态的全方位品牌数字化设计。在信息爆炸的时代，我们如何用最简单最直接的方法将信息最有效地传达给我们客户是我们的研究方向。
                        </div>
                        <div class="tag">
                            <p>品牌官网建设</p>
                            <p>视觉设计</p>
                            <p>品牌迭代升级</p>
                        </div>
                    </div>
                </a>
                <a href="/caseInfo/13.html" class="wow text-down hover-rotate-container">
                    <div class="pic company-card w-inline-block hover-rotate-inner">
                        <img src="/uploads/case-img.jpg" alt="">
                    </div>
                    <div class="text">
                        <p class="p1">舜宇智能光学</p>
                        <div class="des">
                            极简慕枫与舜宇智能光学携手合作，共同打造了一个兼具科技感与艺术美感的品牌官网。这一官网不仅展现了舜宇智能光学在光学科技领域的领先地位，更通过极简慕枫的精湛技艺，为用户带来了一种极具吸引力的视觉盛宴。极简慕枫凭借其深厚的网站建设经验，将舜宇智能光学的创新科技、高品质产品以及独特的设计理念完美融合。官网设计简洁而不失深度，既突出了舜宇智能光学的专业性，又体现了品牌的独特魅力。用户可以通过这个官网轻松了解舜宇智能光学的最新技术成果、产品线以及应用案例，同时还能享受到流畅且富有创意的用户体验。
                        </div>
                        <div class="tag">
                            <p>品牌官网建设</p>
                            <p>视觉设计</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="pagination wow text-down ">
                <a href="/cases?page=1">1</a>
                <a href="/cases?page=2">2</a>
                <a href="javascript:;" class="on">3</a>
            </div>


        </section>

    </main>
    <%- include('components/footer'); -%>

    <script>
        $(function () {
            $('.chose .item').click(function () {
                $(this).children('.d2').stop().slideToggle()
            })
            $('.chose .item .d2 p').click(function () {
                let id = $(this).attr('data-id')
                let value = $(this).html()
                $(this).parents('.item').children('.d1').find('.p2').attr('data-id', id)
                $(this).parents('.item').children('.d1').find('.p2').text(value)
                let ids = []
                $('.chose .item .d1 .p2').each(function (index, item) {
                    if ($(item).attr('data-id') != 0) {
                        ids.push($(item).attr('data-id'))
                    }
                })
                if (ids.length > 0) {
                    window.location.href = '?type=' + ids.join(',')
                } else {
                    window.location.href = '/cases.html'
                }
            })
        })
    </script>

    <script>
        // 获取url参数
        function params(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg); //匹配目标参数
            if (r != null) return unescape(r[2]);
            return null;
        }

        let page = params('page') ? parseInt(params('page')) + 1 : 2
        let loading = false;
        $(window).on('scroll', function () {
            var targetDiv = $('.pagination'); // 将'#target-div'替换为要监听的div的选择器

            if (isElementInViewport(targetDiv)) {
                if (page <= $('.cases').data('page') && !loading) {
                    loading = true;
                    $.ajax({
                        type: 'POST',
                        data: {
                            page: page,
                            _token: $('meta[name=csrf-token]').attr('content')
                        },
                        success: function (response) {
                            let cases = $($(response)[0]).html()
                            let pagination = $($(response)[2]).html()
                            $('.cases').append(cases)
                            $('.pagination').html(pagination)
                            page++
                            loading = false
                            setTimeout(() => {
                                lenis.resize()
                            }, 500);
                        }
                    });
                }
            }
        });

        function isElementInViewport(element) {
            var elementTop = $(element).offset().top;
            var viewportHeight = $(window).height();

            return elementTop < viewportHeight + $(document).scrollTop();
        }
    </script>
</body>

</html>