<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/swiper-bundle.min.css" />
  <link rel='stylesheet' href='/css/global.css' />
  <link rel='stylesheet' href='/css/index.css' />
  <link rel="stylesheet" href="css/styleguide.css">
  <script src="/js/gsap.min.js"></script>
  <script src="js/ScrollTrigger.min.js"></script>

</head>

<body>
  <%- include('components/header'); -%>
  <main>
    <div class="swiper index-swiper-banner">
      <div class="swiper-wrapper">
        <div class="swiper-slide index-banner-item index-banner-item1">
          <img src="uploads/index-banner1.svg" alt="redesign" class="banner-logo">
          <img src="uploads/index-banner-line.svg" alt="line" class="line">
          <h1>专为企业打造高端品牌网站</h1>
          <h3>“为您塑造具有影响力的互联网形象”</h3>

        </div>
        <div class="swiper-slide index-banner-item">Slide 2</div>
        <div class="swiper-slide index-banner-item">Slide 3</div>
      </div>
      <div class="index-swiper-pagination swiper-pagination"></div>
    </div>

    <!--    鼠标跟随效果-->
    <div class="wizardry-code w-embed w-script">
      <div class="cursor">
        <div class="cursor__ball cursor__ball--big " style="opacity: 1; transform: translate(881px, 384px);">
          <svg height="60" width="60">
            <circle cx="30" cy="30" r="20" stroke-width="0"></circle>
          </svg>
        </div>
        <div class="cursor__ball cursor__ball--small" style="opacity: 1; transform: translate(904px, 407px);">
          <svg height="14" width="14">
            <circle cx="7" cy="7" r="5" stroke-width="0"></circle>
          </svg>
        </div>
      </div>
      <style>
        @media screen and (max-width: 480px) {
          body {
            -webkit-overflow-scrolling: auto;
            scroll-snap-stop: always;
            cursor: auto;
          }

          .cursor {
            display: none;
          }
        }

        /* Hide scrollbar for Chrome, Safari and Opera */
        html::-webkit-scrollbar {
          display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        html {
          -ms-overflow-style: none;
          /* IE and Edge */
          scrollbar-width: none;
          /* Firefox */
        }

        .cursor {
          pointer-events: none;
        }

        .cursor__ball--big {
          opacity: 0;
        }

        .cursor__ball--small {
          opacity: 0;
        }

        .cursor__ball {
          position: fixed;
          top: 0;
          left: 0;
          mix-blend-mode: difference;
          z-index: 99999;
        }

        .cursor__ball circle {
          fill: #f7f8fa;
        }
      </style>
      <script>
        // 1. Pass the css styles in an array
        const styles = [
          'color: #FF6B00',
          'font-size: 4em',
          'font-family: sans-serif',
          'padding: 10px 20px 20px 20px',
        ].join(';');
        // 2. Concatenate the individual array item and concatenate them into a string separated by a semi-colon (;)
        // 3. Pass the styles variable
        // console.log('%cMade by ', styles);
        window.addEventListener("DOMContentLoaded", (event) => {
          let mql = window.matchMedia("(min-width: 480px)");
          console.log(mql)
          if (mql.matches) {
            const $bigBall = document.querySelector('.cursor__ball--big');
            const $smallBall = document.querySelector('.cursor__ball--small');
            const $hoverables = document.querySelectorAll('.hoverable');
            const $hoverablesLarge = document.querySelectorAll('.hoverable--large');
            $bigBall.style.transform = "translateX(" + window.clientX + "px)";
            $bigBall.style.transform = "translateY(" + window.clientY + "px)";
            $smallBall.style.transform = "translateX(" + window.clientX + "px)";
            $smallBall.style.transform = "translateY(" + window.clientY + "px)";
            // Listeners
            window.addEventListener('mousemove', onMouseMove);
            for (let i = 0; i < $hoverables.length; i++) {
              $hoverables[i].addEventListener('mouseenter', onMouseHover);
              $hoverables[i].addEventListener('mouseleave', onMouseHoverOut);
            }
            for (let i = 0; i < $hoverablesLarge.length; i++) {
              $hoverablesLarge[i].addEventListener('mouseenter', onMouseHoverLarge);
              $hoverablesLarge[i].addEventListener('mouseleave', onMouseHoverOut);
            }
            // Move the cursor
            function onMouseMove(e) {
              gsap.to($bigBall, .6, {
                x: e.clientX - 30,
                y: e.clientY - 30,
                opacity: 1
              });
              gsap.to($smallBall, .1, {
                x: e.clientX - 7,
                y: e.clientY - 7,
                opacity: 1
              });
            };
            // Hover an element
            function onMouseHover() {
              gsap.to($bigBall, .3, {
                scale: 2.2
              });
            };

            function onMouseHoverLarge() {
              gsap.to($bigBall, .3, {
                scale: 5
              });
            };

            function onMouseHoverOut() {
              gsap.to($bigBall, .3, {
                scale: 1
              });
            };
          }
        });
      </script>

    </div>
    <!--    滚动条效果-->
    <div class="lenis-scroll w-embed w-script">
      <script src="/js/lenis.min.js"></script>
      <script>
        //ScrollTrigger.config({ ignoreMobileResize: true });
        "use strict"; // fix lenis in safari
        const lenis = new Lenis({
          lerp: 0.1,
          wheelMultiplier: 0.7,
          infinite: false,
          gestureOrientation: "vertical",
          normalizeWheel: false,
          smoothTouch: false,
          syncTouchLerp: 1,
          touchMultiplier: 0.1,
          autoResize: true
        });

        function raf(time) {
          lenis.raf(time);
          requestAnimationFrame(raf);
        }
        requestAnimationFrame(raf);

        function connectToScrollTrigger() {
          lenis.on('scroll', ScrollTrigger.update)
          gsap.ticker.add((time) => {
            lenis.raf(time * 1000)
          })
          gsap.ticker.lagSmoothing(0)
        }
        // Uncomment this if using GSAP ScrollTrigger
        connectToScrollTrigger();

        window.addEventListener('resize', function () {
          lenis.resize()
        });
      </script>
    </div>
  </main>

  <%- include('components/footer'); -%>
  </div>

  <script src="/js/jquery-1.11.3.min.js" defer></script>
  <script src="/js/swiper-bundle.min.js"></script>

  <script src="/js/magnet.js" defer></script>

  <script>
    var swiper = new Swiper(".index-swiper-banner", {
      pagination: {
        el: ".index-swiper-pagination",
        clickable: true,
      },
    });
  </script>

</body>

</html>