body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0
}

html {
    color: #333;
    overflow-y: scroll;
    overflow: -moz-scrollbars
}

body,
button,
input,
select,
textarea {
    font: 14px arial
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

em {
    font-style: normal
}

small {
    font-size: 12px
}

ul,
ol {
    list-style: none
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none
}

legend {
    color: #000
}

fieldset,
img {
    border: 0
}

button,
input,
select,
textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img {
    -ms-interpolation-mode: bicubic
}

textarea {
    resize: vertical
}

body::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 840px;
    background: linear-gradient(to bottom, #F8F3F3 0%, #fff 100%);
    z-index: -1;
}

header {
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 144px;
}

header .btns {
    display: flex;
    align-items: center;

}

header .btns a {
    font-size: 14px;
    font-weight: 600;
    font-family: "Noto Sans";
    line-height: 32px;
    width: 93px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin-left: 10px;
}


footer {
    /* height: 520px; */
    background-color: #040404;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    padding: 100px 80px 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-code {
    align-self: flex-start;
}

.footer-nav {
    display: flex;

}

.footer-nav-item {
    padding-right: 100px;
}

.footer-nav h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
    color: #fff;
}

.footer-nav-item li {
    margin-bottom: 20px;

}

.footer-nav-item a {
    color: rgba(255, 255, 255, 0.6);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(217, 217, 217, 0.6);
    padding: 30px 0;
    margin-top: 50px;
}

.footer-left {
    display: flex;
    justify-items: center;
    line-height: 2;
}

.footer-left span {
    margin-left: 10px;
}